# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
**/bin/
**/obj/

# .NET
*.dll
*.exe
*.pdb

# Logs
*.log

# Otros
UpgradeLog.htm
*.dbmdl
*.jfm
/Backend/Hidroverde.API/API/appsettings.json
